<body>
    <div class = "left_side">
        <div class="title" > 
        <span id="odd_letter">S</span>
        <span id="even_letter">N</span>
        <span id="odd_letter">A</span>
        <span id="even_letter">K</span>
        <span id="odd_letter">E</span>
        <span id="blank">&nbsp; </span>
        <span id="odd_letter">G</span>
        <span id="even_letter">A</span>
        <span id="odd_letter">M</span>
        <span id="even_letter">E</span>
    </div>
    </div>
<div class="play_area">
<app-play-area ></app-play-area>
</div>
<div  class="sidebar">


<app-sidebar></app-sidebar>
</div>
</body>