<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>snake_game</title>
    <base href="/">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
<div class="main_page_container">
<div class="box_title">
<div class = 'title'>
    <span id="odd_letter">S</span>
    <span id="even_letter">N</span>
    <span id="odd_letter">A</span>
    <span id="even_letter">K</span>
    <span id="odd_letter">E</span>
    <span id="blank">&nbsp; </span>
    <span id="odd_letter">G</span>
    <span id="even_letter">A</span>
    <span id="odd_letter">M</span>
    <span id="even_letter">E</span>
</div>
</div>
<div class="main_page_buttons_container">
    <button (click)="displayBoxInfo =true" class="main_page_button">NOUVELLE PARTIE</button>
    <button (click)="showBestScores()" class="main_page_button">MEILLEURS SCORES</button>
</div>
<div [style.display]="displayBoxInfo?'grid':'none'" class="player_info"> 
 <h2>entrez votre nom</h2>
 <input                                       
 class="nameInput"
 type="text"
 [(ngModel)]="playerName"
 id="user"
 placeholder="nom du joueur"
 minlength="4"
 maxlength="12"
 pattern="[A-Za-z0-9]+"
 required
/>
<span [style.color]="'red'" [style.font-size]="'17px'"  [hidden]="playerName.length>3">veuillez entrer un nom de 3 lettres et plus</span>
<button [disabled]="playerName.length<3" (click)="gotToGame()"  class=" main_page_button " id="button_info"> JOUER </button>
</div>
<div [style.display]="displayBestScores?'block':'none'" class="player_info"> 
   <span (click)="closeBestScoresPop()" class="close_best_scores">x</span>
   <div class="column">
    <table>
        <h1 class="center">MODE CLASSIQUE</h1>

        <tr>
            <th>Numero</th>
            <th>Noms des joueurs</th>
            <th>Score</th>
        </tr>
        <tr *ngFor="let score of bestScores; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ score.playerName }}</td>
            <td>{{ score.score }}</td>
        </tr>
    </table>
   </div>
</div>
</div>
<router-outlet></router-outlet>
</body>
</html>