<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>snake_game</title>
    <base href="/">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
<div class="main_page_container">
<div class="box_title">
<div class = 'title'>
    <span id="odd_letter">S</span>
    <span id="even_letter">N</span>
    <span id="odd_letter">A</span>
    <span id="even_letter">K</span>
    <span id="odd_letter">E</span>
    <span id="blank">&nbsp; </span>
    <span id="odd_letter">G</span>
    <span id="even_letter">A</span>
    <span id="odd_letter">M</span>
    <span id="even_letter">E</span>
</div>
</div>
<div class="main_page_buttons_container">
<button  routerLink="/game-page" class="main_page_button">NOUVELLE PARTIE</button>
    <button class="main_page_button">MEILLEURS SCORES</button>

</div>
</div>
<router-outlet></router-outlet>
</body>
</html>